<!-- <div class="progreso">
    <div class="row">
        <div class="col-lg-4 col-md-12">
            Estado de folio
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="progress">
                <div data-percentage="0%" style="width: 50%;" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>   
</div> -->


<div class="container">
    <div class="col-md-7">
        <div class="search hidden-xs hidden-sm">
            <h3>&#64; Biom&eacute;tricos</h3>
        </div>
    </div>
    <div class="col-md-5">
        <div class="header-rightside">
            <ul class="list-inline header-top pull-right">
                <li>
                    <a>
                        <span class="bell-icon">
                            <i class="fas fa-bell" aria-hidden="true" style="font-size: 30px;"></i>
                            <span class="notification-count">2</span>
                        </span>
                    </a>
                <li>
                <li>
                    <h5>Nombre del usuario</h5>
                    <h6>Agente mesa</h6>
                <li>
                <li>
                    <a>
                        <i class="fa fa-circle-user user-image" aria-hidden="true" style="font-size: 40px;"></i>
                    </a>
                <li>
            </ul>
        </div>
    </div>
</div>