<div class="formulario">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">Nombre de cliente</th>
                <th scope="col">Fecha de folio</th>
                <th scope="col">Folio SAC</th>
                <th scope="col">Folio MV</th>
                <th scope="col">Registrado</th>
                <th scope="col"></th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>Jerry Mattedi</td>
                <td>19 Mayo, 2021: 10:10 AM</td>
                <td>251-661-5362</td>
                <td>12345678</td>
                <td>Yes</td>
                <td>Options</td>
                <td>Details</td>
                </tr>
            </tbody>
        </table>
    </div>

    <form [formGroup]="respuestasForm">
        <div class="container-fluid">
            <div class="botones">
                <select class="form-select" formControlName="expediente">
                    <option selected>Seleccionar</option>
                    <option value="crédito">Expediente cr&eacute;dito</option>
                    <option value="captación">Expediente captaci&oacute;n</option>
                </select>
            </div>
            <div class="row">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="identificacion" data-toggle="pill" href="#identificacion" role="tab" aria-controls="identificacion" aria-selected="true">Identificación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="comprobante" data-toggle="pill" href="#comprobante" role="tab" aria-controls="comprobante" aria-selected="false">Comprobante</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="propiedad" data-toggle="pill" href="#propiedad" role="tab" aria-controls="propiedad" aria-selected="false">Propiedad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contrato" data-toggle="pill" href="#contrato" role="tab" aria-controls="contrato" aria-selected="false">Contrato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contacto" data-toggle="pill" href="#contacto" role="tab" aria-controls="contacto" aria-selected="false">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="fotografia" data-toggle="pill" href="#fotografia" role="tab" aria-controls="fotografia" aria-selected="false">Fotografía</a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade " id="identificacion" role="tabpanel" aria-labelledby="showall-tab">
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/id_1.jpg" alt=""></div>
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/id_2.jpg" alt=""></div>
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/id_3.jpg" alt=""></div>
                    </div>
                    <div class="tab-pane fade" id="comprobante" role="tabpanel" aria-labelledby="Cars-tab">
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/com_1.jpg" alt=""></div>
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/com_2.jpg" alt=""></div>
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/com_3.jpg" alt=""></div>
                    </div>
                    <div class="tab-pane fade" id="propiedad" role="tabpanel" aria-labelledby="City-tab">
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/pro_1.png" alt=""></div>
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/pro_2.jpg" alt=""></div>
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/pro_3.png" alt=""></div>
                    </div>
                    <div class="tab-pane fade" id="contrato" role="tabpanel" aria-labelledby="Forest-tab">
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/con_1.jpg" alt=""></div>
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/con_2.jpg" alt=""></div>
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/con_3.jpg" alt=""></div>
                    </div>
                    <div class="tab-pane fade" id="contacto" role="tabpanel" aria-labelledby="Forest-tab">
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/cont_1.png" alt=""></div>
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/cont_2.png" alt=""></div>
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/cont_3.png" alt=""></div>
                    </div>
                    <div class="tab-pane fade" id="fotografia" role="tabpanel" aria-labelledby="Forest-tab">
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/foto_1.png" alt=""></div>
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/foto_2.png" alt=""></div>
                        <div class="Portfolio"><img class="card-img" src="../../assets/img/foto_3.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="preguntas">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <h5>Selecciona tu respuesta de acuerdo a lo que visualizas en las fotograf&iacute;as</h5>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="flex-container">
                        <div class="etiquetas">
                            Sí
                        </div>
                        <div class="etiquetas">
                            No
                        </div>
                        <div class="etiquetas">
                            No aplica
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <h6>¿La digitalización de la ID para este portafolio está a color?</h6>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="flex-container">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="digitalizacion" formControlName="digitalizacion" value="Sí">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="digitalizacion" formControlName="digitalizacion" value="No">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="digitalizacion" formControlName="digitalizacion" value="No aplica">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <h6>¿Los datos en ambas ID, expediente y digitalizada coinciden?</h6>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="flex-container">
                        <div class="flex-container">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="datos" formControlName="datos" value="Sí">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="datos" formControlName="datos" value="No">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="datos" formControlName="datos" value="No aplica">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="links">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                    <td><a>INE</a></td>
                    <td><a>CURP</a></td>
                    <td><a>SEPOMEX</a></td>
                    <td><a>Otros</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="preguntas">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <h5>Selecciona tu respuesta de acuerdo al resultado de la búsqueda</h5>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="flex-container">
                        <div class="etiquetas">
                            Sí
                        </div>
                        <div class="etiquetas">
                            No
                        </div>
                        <div class="etiquetas">
                            No aplica
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <h6>¿La información devuelta por tus consultas es vigente?</h6>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="flex-container">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="vigencia" formControlName="vigencia" value="Sí">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="vigencia" formControlName="vigencia" value="No">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="vigencia" formControlName="vigencia" value="No aplica">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <h6>¿Los información devuelta por las consultas coincide con la identificación del cliente?</h6>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="flex-container">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identificacion" formControlName="identificacion" value="Sí">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identificacion" formControlName="identificacion" value="No">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="identificacion" formControlName="identificacion" value="No aplica">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="respuesta">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <h5>RESPUESTA DE SOLICITUD</h5>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    Respuesta
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <select class="form-select" formControlName="respuesta">
                        <option selected>Seleccionar</option>
                        <option value="Aprobada">Aprobada</option>
                        <option value="Rechazada">Rechazada</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Observaciones" id="observaciones" formControlName="observaciones"></textarea>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    Motivo
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <select class="form-select" formControlName="motivo">
                        <option selected>Seleccionar</option>
                        <option value="Fotografía del cliente no coincide">Fotografía del cliente no coincide</option>
                        <option value="Fotografía borrosa o manipulada">Fotografía borrosa o manipulada</option>
                        <option value="Fotografía no visible">Fotografía no visible</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <button type="button" class="btn btn-primary" style="float: right;" (click)="abrirModal()">Finalizar</button>
                </div>
            </div>
        </div>
    </form>
</div>