<div class="formulario">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">Nombre de cliente</th>
                <th scope="col">Fecha de folio</th>
                <th scope="col">Folio SAC</th>
                <th scope="col">Folio MV</th>
                <th scope="col">Registrado</th>
                <th scope="col"></th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>Jerry Mattedi</td>
                <td>19 Mayo, 2021: 10:10 AM</td>
                <td>251-661-5362</td>
                <td>12345678</td>
                <td>Yes</td>
                <td>Options</td>
                <td>Details</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid">
        <div class="botones">
            <select class="form-select">
                <option selected>Seleccionar</option>
                <option value="1">Expediente cr&eacute;dito</option>
                <option value="2">Expediente captaci&oacute;n</option>
            </select>
        </div>
        <div class="row">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="showall-tab" data-toggle="pill" href="#identificacion" role="tab" aria-controls="showall" aria-selected="true">Identificación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Cars-tab" data-toggle="pill" href="#comprobante" role="tab" aria-controls="Cars" aria-selected="false">Comprobante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="City-tab" data-toggle="pill" href="#propiedad" role="tab" aria-controls="City" aria-selected="false">Propiedad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Forest-tab" data-toggle="pill" href="#contrato" role="tab" aria-controls="Forest" aria-selected="false">Contrato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="City-tab" data-toggle="pill" href="#contacto" role="tab" aria-controls="City" aria-selected="false">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Forest-tab" data-toggle="pill" href="#fotografia" role="tab" aria-controls="Forest" aria-selected="false">Fotografía</a>
                </li>
            </ul>
            </div>
            <div class="container">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade " id="identificacion" role="tabpanel" aria-labelledby="showall-tab">
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                    </div>
                    <div class="tab-pane fade" id="comprobante" role="tabpanel" aria-labelledby="Cars-tab">
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                    </div>
                    <div class="tab-pane fade" id="propiedad" role="tabpanel" aria-labelledby="City-tab">
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                    </div>
                    <div class="tab-pane fade" id="contrato" role="tabpanel" aria-labelledby="Forest-tab">
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                    </div>
                    <div class="tab-pane fade" id="contacto" role="tabpanel" aria-labelledby="Forest-tab">
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                    </div>
                    <div class="tab-pane fade" id="fotografia" role="tabpanel" aria-labelledby="Forest-tab">
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a></div>
                    </div>
                </div>
        </div>
    </div>

</div>