<div class="container">
    <h3>Respuestas</h3>
    <div class="contenido">
        <h6><strong>Expediente: &nbsp;</strong> {{data.r.expediente}}</h6>
        <hr>
        <h6><strong>¿La digitalización de la ID para este portafolio está a color? &nbsp;</strong> {{data.r.digitalizacion}}</h6>
        <h6><strong>¿Los datos en ambas ID, expediente y digitalizada coinciden? &nbsp;</strong> {{data.r.datos}}</h6>
        <hr>
        <h6><strong>¿La información devuelta por tus consultas es vigente? &nbsp;</strong> {{data.r.vigencia}}</h6>
        <h6><strong>¿Los información devuelta por las consultas coincide con la identificación del cliente?</strong> {{data.r.identificacion}}</h6>
        <hr>
        <h6><strong>Respuesta: &nbsp;</strong> {{data.r.respuesta}}</h6>
        <h6><strong>Motivo: &nbsp;</strong> {{data.r.motivo}}</h6>
        <h6><strong>Observaciones: &nbsp;</strong> {{data.r.observaciones}}</h6>
    </div>
</div>